<form method="post" action="{{ path('app_emplois_du_temps_delete', {'id': emplois_du_temp.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ emplois_du_temp.id) }}">
    <button class="btn">Delete</button>
</form>
